<div class="fr row">     
      <div class="text">{{French}}</div>
</div>




--

<div class="fr row">     
      <div class="text">{{French}}</div>
</div>


<div class="jl row">  
<div class="text">{{dyu}}</div>
</div>


{{#Hint1}}
<div class= "jl row example">
<div class="example">{{Hint1}}</div>
</div>
{{/Hint1}}

<div id="anki-am" data-name="Assets by ASSET MANAGER" data-version="2.1">
</div>