<div class="jl row">  
<div class="text">{{dyu}}</div>
</div>


{{#Hint1}}
<div class= "row left jl">

<label for="trigger"></label>
<div class=tag>Hint</div>
<input id="trigger" type="checkbox">
<div class="hint">{{Hint1}}</div>

<div class=tag hidden>Hint</div>
<input class="hidden" type="checkbox">

</div>
{{/Hint1}}


<div id="anki-am" data-name="Assets by ASSET MANAGER" data-version="2.1">
    <script data-name="Prevent reinclusion" data-version="v0.1">
        var ankiAms = document.querySelectorAll('#anki-am')
          if (ankiAms.length > 1) {
            for (const am of Array.from(ankiAms).slice(0, -1)) {
              am.outerHTML = ''
          }
        }
    </script>
</div>

--

<div class="jl row">  
<div class="text">{{dyu}}</div>
</div>


{{#Hint1}}
<div class= "jl row example">
<div class="example">{{Hint1}}</div>
</div>
{{/Hint1}}

<div class="fr row">     
      <div class="text">{{French}}</div>
</div>


<div id="anki-am" data-name="Assets by ASSET MANAGER" data-version="2.1">
</div>