<div class="row">
<div class="text">{{Title}}</div>
</div>


<div class="row example">
<div class="title"
    {{Context}}
</div>
    <div class="cloze text">
        {{#Prompt}}{{Prompt}}{{/Prompt}}
        {{^Prompt}}[...]{{/Prompt}}
    </div>
</div>

--

<div class="row">
<div class="text">{{Title}}</div>
</div>


<div class="row example">
<div class="title">
    {{Context}}
</div>
    <div class="cloze title">{{Line}}</div>
</div>