@import url("_style.css");


.card {
    font-size: 2rem;
    background-color: white;
}

p {
    margin-top: 0px;
    margin-bottom: 0px;
}

.lines .example{
    text-align: left;
    margin-left: 30px;
    text-indent: -30px;
    margin-right: 30px;
}

.cloze {
    font-weight: bold;
    color: blue;
}

.nightMode .cloze {
    filter: invert(85%);
}

.title {
    text-align: center;
}

.indent {
    margin-left: 60px;
}