@import url(./_props.colors.css);
@font-face {
  font-family: "Fira Sans", sans-serif;
  src: local("_FiraSans-Regular.ttf");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: "Fira Sans", sans-serif;
  src: local("_FiraSans-Italic.ttf");
  font-weight: 400;
  font-style: italic; }

@font-face {
  font-family: "Fira Sans", sans-serif;
  src: local("_FiraSans-Bold.ttf");
  font-weight: 700;
  font-style: normal; }

* {
  font-family: 'Fira Sans', sans-serif; }

:root {
  --border-3: .4rem;
  --jl-color: var(--teal-4);
  --jl-background: var(--teal-0);
  --fr-color: var(--blue-5);
  --fr-background: var(--blue-0);
  --ma-color: var(--yellow-4);
  --ma-background: var(--yellow-0);
  --bf-color: var(--red-4);
  --bf-background: var(--red-0); }

.fr {
  color: var(--grey-8);
  border-left: solid var(--blue-5) var(--border-3);
  background-color: var(--fr-background); }

.is-info {
  color: var(--grey-6);
  background-color: var(--blue-1); }

.ma, .bm {
  color: var(--grey-8);
  border-left: solid var(--ma-color) var(--border-3);
  background-color: var(--ma-background); }

.is-warning {
  color: var(--grey-8);
  background-color: var(--yellow-2); }

.jl {
  color: var(--grey-8);
  border-left: solid var(--jl-color) var(--border-3);
  background-color: var(--jl-background); }

.is-success {
  color: var(--grey-6);
  background-color: var(--teal-1); }

.bf {
  color: var(--grey-8);
  border-left: solid var(--bf-color) var(--border-3);
  background-color: var(--bf-background); }

.is-danger {
  color: var(--grey-8);
  background-color: var(--red-1); }

.alt {
  color: var(--grey-0);
  border-left: solid var(--grey-0) var(--border-3);
  background-color: var(--grey-9); }

html, body {
  width: 100vw;
  height: 100vh; }

.card {
  font-family: "Fira Sans", sans-serif;
  width: 100vw;
  height: 100vh;
  color: var(--slightly-grey-text);
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px; }

.hint {
  display: none; }

#trigger:checked + .hint {
  display: block;
  flex-grow: 1;
  text-align: center; }

.row, li, blockquote {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  margin: 0rem 3%;
  padding: 20px 6px 20px 6px; }

.around {
  justify-content: space-around; }

.left {
  justify-content: left;
  padding: 0px 0px 6px 6px; }

.hint, .example {
  font-size: 1rem;
  line-height: 1.3rem;
  text-align: left;
  padding-left: 1rem;
  align-items: center;
  justify-content: left;
  padding: 0px 0px 6px 6px; }

img {
  display: block;
  max-width: 100%;
  max-height: none;
  margin-left: auto;
  margin: 0px auto 0px auto; }

.tag {
  flex-basis: content;
  flex-grow: 0;
  flex-shrink: 0;
  text-align: center;
  max-width: 60px;
  font-size: .7rem;
  font-family: system-ui, Noto Sans,sans-serif;
  padding: .3rem;
  border-radius: 1em; }

.invisible {
  visibility: hidden; }

.hidden {
  display: none; }

.text, .title, .field, .target {
  font-size: 1.2rem;
  line-height: 1.5rem;
  flex-shrink: 1;
  flex-grow: 1;
  text-align: center;
  flex-basis: 500px;
  padding: 0px 4px; }

@media only screen and (min-width: 786px) {
  .text, .title {
    font-size: 2rem;
    line-height: 3.5rem; }
  .hint, .example {
    font-size: 1.3rem;
    line-height: 2.7rem; } }

details {
  display: inline !important;
  cursor: help; }

details[open] {
  cursor: text; }

summary {
  position: relative;
  color: var(--flag1-fg); }

summary:before {
  content: "[HINT]"; }

summary::-webkit-details-marker {
  display: inline; }

summary:hover {
  color: var(--flag4-fg); }

details[open] summary {
  display: none;
  position: absolute; }

details[open] summary:before {
  content: "[HIDE]"; }
