 <div class="row fr">
  <div class="img"> {{FR_Cover}}</div>
  <div class="title"> {{FR_Title}}</div>
</div>

--

    <div class="row jl">
         <div class="title"> {{JL_Title}}</div>
         <div class="img"> {{JL_Cover}}</div>   
     </div>
 <div class="row fr">
  <div class="img"> {{FR_Cover}}</div>
  <div class="title"> {{FR_Title}}</div>
</div>
{{#AR_Title}} 
   <div class="row bm">
         <div class="title"> {{AR_Title}}</div>
         <div class="img"> {{AR_Cover}}</div>   
     </div>
{{/AR_Title}}