<div class="box">
  {{#Title}}<div class="title fr">{{Title}}</div>{{/Title}}

  <div class="text ma">
    {{cloze:Text1}}
    {{cloze:Text2}}
    {{cloze:Text3}}
    {{cloze:Text4}}
    {{cloze:Text5}}
    {{cloze:Text6}}
    {{cloze:Text7}}
    {{cloze:Text8}}
    {{cloze:Text9}}
    {{cloze:Text10}}
    {{cloze:Text11}}
    {{cloze:Text12}}
    {{cloze:Text13}}
    {{cloze:Text14}}
    {{cloze:Text15}}
    {{cloze:Text16}}
    {{cloze:Text17}}
    {{cloze:Text18}}
    {{cloze:Text19}}
    {{cloze:Text20}}
    {{cloze:Full}}

  </div>
</div>
</div>

--

 
<div class=box>
  {{#Title}}<div class="title fr">{{Title}}</div>{{/Title}}
  <div class="text jl">
    {{cloze:Text1}}
    {{cloze:Text2}}
    {{cloze:Text3}}
    {{cloze:Text4}}
    {{cloze:Text5}}
    {{cloze:Text6}}
    {{cloze:Text7}}
    {{cloze:Text8}}
    {{cloze:Text9}}
    {{cloze:Text10}}
    {{cloze:Text11}}
    {{cloze:Text12}}
    {{cloze:Text13}}
    {{cloze:Text14}}
    {{cloze:Text15}}
    {{cloze:Text16}}
    {{cloze:Text17}}
    {{cloze:Text18}}
    {{cloze:Text19}}
    {{cloze:Text20}}
    {{cloze:Full}}

  </div>
  <div class="hidden"><div class="fullhint">{{hint:Original}}</div></div>
</div>
</div>

<script>
  // remove cloze syntax from revealed hint
  var hint = document.querySelector('.fullhint>[id^="hint"]')
  var html = hint.innerHTML.replace(/\[\[oc(\d+)::(.*?)(::(.*?))?\]\]/mg, "$2")
  hint.innerHTML = html
  // scroll to cloze
  document.addEventListener('DOMContentLoaded', function() {
    setTimeout(function(){
      const cloze1 = document.getElementsByClassName("cloze")[0];
      const rect = cloze1.getBoundingClientRect();
      const absTop = rect.top + window.pageYOffset;
      const absBot = rect.bottom + window.pageYOffset;
      if (absBot >= window.innerHeight) {
        const height = rect.top - rect.bottom
        const middle = absTop - (window.innerHeight/2) - (height/2);
        window.scrollTo(0, middle);};
    }, 1);
  }, false);
</script>