@import url("_style.css");

/* general layout */


.hidden {
  /* guarantees a consistent width across front and back */
  font-weight: bold;
  display: block;
  line-height:0;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}

.title {
line-height: 3;
text-align: center;
}

.text {
  /* center left-aligned text on card */
  text-align: center;
  padding: 1.5rem 0rem 3rem 0rem;
}

/* clozes */

.cloze {
  /* regular cloze deletion */
  font-weight: bold ;
  color: #0048FF;
}

/* original text reveal hint */

.fullhint a {
  color: #0048FF;
}

.card21 .fullhint{
  /* no need to display hint on last card */
  display:none;
}

/* additional fields */

.extra{
  margin-top: 0.5em;
  margin: auto;
  max-width: 40em;
}

.extra-entry{
  margin-top: 0.8em;
  font-size: 0.9em;
  text-align:left;
}

.extra-descr{
  margin-bottom: 0.2em;
  font-weight: bold;
  font-size: 1em;
}

