{{#source1}}

<blockquote id="fields-output" class="jl"></blockquote>

{{/source1}}


<div id="source1" class="field text" hidden>{{source1}}</div>
<div id="source2" class="field text" hidden>{{source2}}</div>
<div id="source3" class="field text" hidden>{{source3}}</div>
<div id="source4" class="field text" hidden>{{source4}}</div>
<div id="source5" class="field text" hidden>{{source5}}</div>
<div id="source6" class="field text" hidden>{{source6}}</div>
<div id="source7" class="field text" hidden>{{source7}}</div>
<div id="source8" class="field text" hidden>{{source8}}</div>
<div id="source9" class="field text" hidden>{{source9}}</div>
<div id="source10" class="field text" hidden>{{source10}}</div>
<div id="source11" class="field text" hidden>{{source11}}</div>
<div id="source12" class="field text" hidden>{{source12}}</div>
<div id="source13" class="field text" hidden>{{source13}}</div>
<div id="source14" class="field text" hidden>{{source14}}</div>
<div id="source15" class="field text" hidden>{{source15}}</div>
<div id="source16" class="field text" hidden>{{source16}}</div>
<div id="source17" class="field text" hidden>{{source17}}</div>
<div id="source18" class="field text" hidden>{{source18}}</div>


{{#source1}}
<div class="row left jl">
  <span>
    <details>
      <summary class="nolabel">{{dyu}}</summary>
      {{dyu}} = {{French}}
    </details>
  </span>
</div>
{{/source1}}



<div id="anki-am" data-name="Assets by ASSET MANAGER" data-version="2.1">
  <script data-name="Prevent reinclusion" data-version="v0.1">
    var ankiAms = document.querySelectorAll('#anki-am')
    if (ankiAms.length > 1) {
      for (const am of Array.from(ankiAms).slice(0, -1)) {
        am.outerHTML = ''
      }
    }
  </script>
  <script data-name="Ex1-front" data-version="v0.1">

    {
      const fieldCount = 1;
      const fieldsContainer = document.getElementById("fields-output");
      const fields = [...document.querySelectorAll(".field")];
      // Durstenfeld shuffle algorithm
      // https://stackoverflow.com/a/12646864
      function shuffleArray(array) {
        for (let i = array.length - 1; i > 0; i--) {
          const j = Math.floor(Math.random() * (i + 1));
          [array[i], array[j]] = [array[j], array[i]];
        }
      }
      const availableFieldIndexes = fields.reduce((prev, current, index) => {
        if (current.textContent.trim()) {
          prev.push(index);
        }
        return prev;
      }, []);
      shuffleArray(availableFieldIndexes);
      const randomIndexes = availableFieldIndexes.slice(0, fieldCount);
      sessionStorage.setItem("randomIndexes", JSON.stringify(randomIndexes));
      for (const index of randomIndexes) {
        fieldsContainer.appendChild(fields[index]);
        fields[index].hidden = false;
      }
    }

  </script>
</div>

--

{{#source1}}

<blockquote id="fields-output" class="jl"></blockquote>

{{/source1}}


<div id="source1" class="field text" hidden>{{source1}}</div>
<div id="source2" class="field text" hidden>{{source2}}</div>
<div id="source3" class="field text" hidden>{{source3}}</div>
<div id="source4" class="field text" hidden>{{source4}}</div>
<div id="source5" class="field text" hidden>{{source5}}</div>
<div id="source6" class="field text" hidden>{{source6}}</div>
<div id="source7" class="field text" hidden>{{source7}}</div>
<div id="source8" class="field text" hidden>{{source8}}</div>
<div id="source9" class="field text" hidden>{{source9}}</div>
<div id="source10" class="field text" hidden>{{source10}}</div>
<div id="source11" class="field text" hidden>{{source11}}</div>
<div id="source12" class="field text" hidden>{{source12}}</div>
<div id="source13" class="field text" hidden>{{source13}}</div>
<div id="source14" class="field text" hidden>{{source14}}</div>
<div id="source15" class="field text" hidden>{{source15}}</div>
<div id="source16" class="field text" hidden>{{source16}}</div>
<div id="source17" class="field text" hidden>{{source17}}</div>
<div id="source18" class="field text" hidden>{{source18}}</div>


{{#target1}}
<blockquote id="target-output" class="fr"></blockquote>
{{/target1}}


<div id="target1" class="target text" hidden>{{target1}}</div>
<div id="target2" class="target text" hidden>{{target2}}</div>
<div id="target3" class="target text" hidden>{{target3}}</div>
<div id="target4" class="target text" hidden>{{target4}}</div>
<div id="target5" class="target text" hidden>{{target5}}</div>
<div id="target6" class="target text" hidden>{{target6}}</div>
<div id="target7" class="target text" hidden>{{target7}}</div>
<div id="target8" class="target text" hidden>{{target8}}</div>
<div id="target9" class="target text" hidden>{{target9}}</div>
<div id="target10" class="target text" hidden>{{target10}}</div>
<div id="target11" class="target text" hidden>{{target11}}</div>
<div id="target12" class="target text" hidden>{{target12}}</div>
<div id="target13" class="target text" hidden>{{target13}}</div>
<div id="target14" class="target text" hidden>{{target14}}</div>
<div id="target15" class="target text" hidden>{{target15}}</div>
<div id="target16" class="target text" hidden>{{target16}}</div>
<div id="target17" class="target text" hidden>{{target17}}</div>
<div id="target18" class="target text" hidden>{{target18}}</div>

<div class="row example jl">

  {{#Speech}}
  <div class="tag">{{Speech}}</div>
  {{/Speech}}

  <div class="example">{{dyu}} = {{French}}</div>

  {{#Speech}}
  <div class="tag invisible">{{Speech}}</div>
  {{/Speech}}

</div>

{{#cf1}}
<div class="row left alt">
  <div class="">syn: {{cf1}}{{#cf2}}, {{cf2}}{{/cf2}}{{#cf3}}, {{cf3}}{{/cf3}}{{#cf4}}, {{cf4}}{{/cf4}}</div>
</div>
{{/cf1}}

{{#Alt1}}
<div class="row left alt">
  <div class="">spv: {{Alt1}}{{#Alt2}}, {{Alt2}}{{/Alt2}}{{#Alt3}}, {{Alt3}}{{/Alt3}}{{#Alt4}}, {{Alt4}}{{/Alt4}}
  </div>
</div>
{{/Alt1}}


{{#Note1}}
<div class="row left alt">
  <div class="">cf: {{Note1}}{{#Note2}}, {{Note2}}{{/Note2}}{{#Note3}}, {{Note3}}{{/Note3}}{{#Note4}},
    {{Note4}}{{/Note4}}</div>
</div>
{{/Note1}}
{{#Text4}}
<blockquote class="ma">
  <div class="tag invisible"><img src="_MLI.png"></div>
  <div class="text">{{Text4}}</div>
  <div class="tag"><img src="_MLI.png"></div>
</blockquote>
{{/Text4}}


<div id="anki-am" data-name="Assets by ASSET MANAGER" data-version="2.1">
  <script data-name="Ex1-back" data-version="v0.1">
    {
      const fieldCount = 1;
      const fieldsContainer = document.getElementById("fields-output");
      const targetContainer = document.getElementById("target-output");

      const fields = [...document.querySelectorAll(".field")];
      const targets = [...document.querySelectorAll(".target")];

      function shuffleArray(array) {
        for (let i = array.length - 1; i > 0; i--) {
          const j = Math.floor(Math.random() * (i + 1));
          [array[i], array[j]] = [array[j], array[i]];
        }
      }
      let randomIndexes;
      if (sessionStorage.getItem("randomIndexes")) {
        randomIndexes = JSON.parse(sessionStorage.getItem("randomIndexes"));
        sessionStorage.clear();
      }
      else {
        // Previewer(if Back Side Only) and Card Layout Editor(Back Template)
        const availableFieldIndexes = fields.reduce((prev, current, index) => {
          if (current.textContent.trim()) {
            prev.push(index);
          }
          return prev;
        }, []);
        shuffleArray(availableFieldIndexes);
        randomIndexes = availableFieldIndexes.slice(0, fieldCount);
      }
      for (const index of randomIndexes) {
        fieldsContainer.appendChild(fields[index]);
        fields[index].hidden = false;
      }

      for (const index of randomIndexes) {
        targetContainer.appendChild(targets[index]);
        targets[index].hidden = false;
      }
    }

  </script>
</div>
