<blockquote class="fr">
  <div class="text">{{French}}</div>
</blockquote>

--

<blockquote class="fr">
  <div class="text">{{French}}</div>
</blockquote>


<blockquote class="jl">

  {{#Speech}}
  <div class="tag">{{Speech}}</div>
  {{/Speech}}


  <div class="text">{{dyu}}</div>

  {{#Speech}}
  <div class="tag invisible">{{Speech}}</div>
  {{/Speech}}


</blockquote>


{{#Text2}}
<div class="ma row">
  {{#Note2}}
  <div class="hmeta tag is-warning has-text-dark">{{Note2}}</div>
  {{/Note2}}

  <div class="text">{{Text2}}</div>

  {{#Note2}}
  <div class="meta tag is-warning has-text-dark">{{Note2}}</div>
  {{/Note2}}

</div>
{{/Text2}}



{{#Text3}}
<div class="ma row">

  {{#Note3}}
  <div class="hmeta tag is-warning has-text-dark">{{Note3}}</div>
  {{/Note3}}

  <div class="text">{{Text3}}</div>

  {{#Note3}}
  <div class="meta tag is-warning has-text-dark">{{Note3}}</div>
  {{/Note3}}

</div>
{{/Text3}}



{{#Text4}}
<blockquote class="ma">
  <div class="tag invisible"><img src="_MLI.png"></div>
  <div class="text">{{Text4}}</div>
  <div class="tag"><img src="_MLI.png"></div>
</blockquote>
{{/Text4}}



{{#Emp}}
<div class="row example jl">
  <div class="example">{{Emp}}</div>
</div>
{{/Emp}}

{{#unused}}
<div class="row left jl">
  <div class="example">{{unused}}</div>
</div>
{{/unused}}

{{#source1}}

<blockquote id="fields-output" class="jl example"></blockquote>

{{/source1}}


<div id="source1" class="field" hidden>{{source1}}</div>
<div id="source2" class="field" hidden>{{source2}}</div>
<div id="source3" class="field" hidden>{{source3}}</div>
<div id="source4" class="field" hidden>{{source4}}</div>
<div id="source5" class="field" hidden>{{source5}}</div>
<div id="source6" class="field" hidden>{{source6}}</div>
<div id="source7" class="field" hidden>{{source7}}</div>
<div id="source8" class="field" hidden>{{source8}}</div>
<div id="source9" class="field" hidden>{{source9}}</div>
<div id="source10" class="field" hidden>{{source10}}</div>
<div id="source11" class="field" hidden>{{source11}}</div>
<div id="source12" class="field" hidden>{{source12}}</div>
<div id="source13" class="field" hidden>{{source13}}</div>
<div id="source14" class="field" hidden>{{source14}}</div>
<div id="source15" class="field" hidden>{{source15}}</div>
<div id="source16" class="field" hidden>{{source16}}</div>
<div id="source17" class="field" hidden>{{source17}}</div>
<div id="source18" class="field" hidden>{{source18}}</div>



{{#target1}}
<blockquote id="target-output" class="fr example"></blockquote>
{{/target1}}



<div id="target1" class="target" hidden>{{target1}}</div>
<div id="target2" class="target" hidden>{{target2}}</div>
<div id="target3" class="target" hidden>{{target3}}</div>
<div id="target4" class="target" hidden>{{target4}}</div>
<div id="target5" class="target" hidden>{{target5}}</div>
<div id="target6" class="target" hidden>{{target6}}</div>
<div id="target7" class="target" hidden>{{target7}}</div>
<div id="target8" class="target" hidden>{{target8}}</div>
<div id="target9" class="target" hidden>{{target9}}</div>
<div id="target10" class="target" hidden>{{target10}}</div>
<div id="target11" class="target" hidden>{{target11}}</div>
<div id="target12" class="target" hidden>{{target12}}</div>
<div id="target13" class="target" hidden>{{target13}}</div>
<div id="target14" class="target" hidden>{{target14}}</div>
<div id="target15" class="target" hidden>{{target15}}</div>
<div id="target16" class="target" hidden>{{target16}}</div>
<div id="target17" class="target" hidden>{{target17}}</div>
<div id="target18" class="target" hidden>{{target18}}</div>

{{#cf1}}
<div class="row left alt">
  <div class="">syn: {{cf1}}{{#cf2}}, {{cf2}}{{/cf2}}{{#cf3}}, {{cf3}}{{/cf3}}{{#cf4}}, {{cf4}}{{/cf4}}</div>
</div>
{{/cf1}}

{{#Alt1}}
<div class="row left alt">
  <div class="">spv: {{Alt1}}{{#Alt2}}, {{Alt2}}{{/Alt2}}{{#Alt3}}, {{Alt3}}{{/Alt3}}{{#Alt4}}, {{Alt4}}{{/Alt4}}</div>
</div>
{{/Alt1}}


{{#Note1}}
<div class="row left alt">
  <div class="">cf: {{Note1}}{{#Note2}}, {{Note2}}{{/Note2}}{{#Note3}}, {{Note3}}{{/Note3}}{{#Note4}},
    {{Note4}}{{/Note4}}</div>
</div>
{{/Note1}}


<div id="anki-am" data-name="Assets by ASSET MANAGER" data-version="2.1">
  <script data-name="fr-back" data-version="v0.1">

    {
      const fieldCount = 3;
      const fieldsContainer = document.getElementById("fields-output");
      const targetContainer = document.getElementById("target-output");
      const fields = [...document.querySelectorAll(".field")];
      const targets = [...document.querySelectorAll(".target")];

      // Durstenfeld shuffle algorithm
      // https://stackoverflow.com/a/12646864
      function shuffleArray(array) {
        for (let i = array.length - 1; i > 0; i--) {
          const j = Math.floor(Math.random() * (i + 1));
          [array[i], array[j]] = [array[j], array[i]];
        }
      }
      const availableFieldIndexes = fields.reduce((prev, current, index) => {
        if (current.textContent.trim()) {
          prev.push(index);
        }
        return prev;
      }, []);
      shuffleArray(availableFieldIndexes);
      const randomIndexes = availableFieldIndexes.slice(0, fieldCount);
      sessionStorage.setItem("randomIndexes", JSON.stringify(randomIndexes));
      for (const index of randomIndexes) {
        fieldsContainer.appendChild(fields[index]);
        fields[index].hidden = false;
        targetContainer.appendChild(targets[index]);
        targets[index].hidden = false;
      }
    }


  </script>
</div>
