

<div class="row jl center">

<div>{{cloze:Text}}</div>

</div>

{{#Extra}}
<div class= "row center">
      <div class=" text">{{hint:Extra}}</div>
</div>
{{/Extra}}

--

<div class="row jl center">

<div>{{cloze:Text}}</div>

</div>


{{#Extra}}
<div class= "fr row example">
      <div class="example text">{{Extra}}</div>
</div>
{{/Extra}}
</div></div>
