{{#Text1}}
<div class="row jl">  
      <div class="tag hidden">{{Note1}}</div>
      <div class="text">{{Text1}}</div>
      <div class="tag">{{Note1}}</div>
  </div>
{{/Text1}}



--

{{#Text1}}
<div class="row jl">  
      <div class="tag hidden">{{Note1}}</div>
      <div class="text">{{Text1}}</div>
      <div class="tag">{{Note1}}</div>
  </div>
{{/Text1}}


{{#Text2}}
  <div class="row bf">
     <div class="tag hidden">{{Note2}}</div>
    <div class="text">{{Text2}}</div>
    <div class="tag">{{Note2}}</div>
</div>
{{/Text2}}

{{#Text3}}
<div class="row bm">
      <div class="tag hidden">{{Note3}}</div>
      <div class="text">{{Text3}}</div>
      <div class="tag">{{Note3}}</div>
  </div>
{{/Text3}}


<div class="row fr">
      <div class="tag hidden">{{Note}}</div>
      <div class="text">{{French}}</div>
      <div class="tag">{{Note}}</div>
</div>
