<div class="fr row">
  <div class=text>{{French}}</div>
</div>

{{#Picture}}
<div class="row money">
  <div>{{Picture}}</div>
</div>
{{/Picture}}

--

{{FrontSide}}

<div class="row jl">
  <div class="text">{{Jula}}</div>
</div>
