<div class="row jl">
   <div class="text">{{Jula}}</div>
</div>

--

{{FrontSide}}

{{#Picture}} 
<div class="row money">
<div>{{Picture}}</div>
</div>
{{/Picture}}


<div class="fr row">
    <div class=text>{{French}}</div>
</div>

